.logo {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px;
}



.main-rigth-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E6E6E6;
}


