<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Enrolamiento
    </title>

</head>
<body>
    <div class="main-rigth-top">
        <div class="logo">
            <img src="./assets/images/logo-sertracen.png" alt="">
        </div>
        <div class="text-icons">
            <img src="./assets/images/img_cong.png" alt=""><span>Configuración</span >
            <img src="./assets/images/img_out.png" alt=""><span>Salir</span>
        </div>
    </div>
    <div class="main">
    <div class="main_left">
            
            <div class="main-left-info">
                <h1>Registro</h1>

                <label>
                    3 de 6 pasos ya esta completado 
                </label>

<br>
<br>
<br>

                <ul>
                    <li><img src="./assets/images/check_blue.svg" alt=""><label>Datos personales </label></li>
                    <li><img src="./assets/images/check_blue.svg" alt=""><label>Datos físicos</label></li>
                    <li><img src="./assets/images/check_blue.svg" alt=""><label>Datos demograficos</label></li>
                    <li><img src="./assets/images/check_blue.svg" alt=""><label>Fotografia</label></li>
                    <li><img src="./assets/images/check_blue.svg" alt=""><label>Firma</label></li>
                    <li><img src="./assets/images/check_gray.svg" alt=""><label>Huella digital</label></li>
                </ul>
            </div>
          
    </div>
    <div class="main_rigth">
        <div class="text-icons">
            <a href="#"><img class="arrow-back" src="./assets/images/flecha.svg"/></a><h1>Huella Digital</h1>
        </div>
        <div class="main-rigth-body">
            
                <h2>Captura de Huella</h2>
                <p>1- Coloque su pulgar derecho en el lector de huellas dactilar que se muestra en la imagen, espere a que <b>se escanee su huella.</b> </p>
                <p>2- Coloque su pulgar izquierdo en el lector de huellas dactilar que se muestra en la imagen, <b>espere a que se escanee su huella.</b></p>
            <div class="main-rigth-body-form">
                <div class="form-child-up">                    
                    <div class="form-child-up-col1">
                        <div class="fingerprint"></div>
                        <p>Pulgar Izquierdo</p>
                    </div>
                    <div class="form-child-up-col2">
                        <div class="fingerprint"></div>
                        <p>Pulgar Derecho</p>
                    </div>
                    <div class="form-child-up-col3">
                        <img class="fingerprint-img" src="./assets/images/huella_digital.png" alt="">
                    </div>
                </div>
                <div class="form-child-down">                    
                    <div class="btn_continuar">
                        <a  class="btn_blue" routerLink="/registro">Capturar huella nuevamente</a>
                        <a  class="btn_blue" routerLink="/registro">Confirmar</a>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</div>

</body>
</html>