<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Enrolamiento
    </title>

</head>

<body>

    <app-header></app-header>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">

                <div class="row">
                    <div class="col-md-12">&nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <app-options></app-options>
                    </div>
                </div>

            </div>

        </div>

    </div>


    <div class="main-rigth-top">

    </div>
    <div class="main">
       
        <div class="main_rigth">
            <div class="text-icons">
                
            </div>
            <div class="main-rigth-body">

                <h2>Captura de Huella</h2>
                <p>1- Coloque su pulgar derecho en el lector de huellas dactilar que se muestra en la imagen, espere a
                    que <b>se escanee su huella.</b> </p>
                <p>2- Coloque su pulgar izquierdo en el lector de huellas dactilar que se muestra en la imagen,
                    <b>espere a que se escanee su huella.</b>
                </p>
                <div class="main-rigth-body-form">
                    <div class="form-child-up">
                        <div class="form-child-up-col1">
                            <div class="fingerprint"></div>
                            <p>Pulgar Izquierdo</p>
                        </div>
                        <div class="form-child-up-col2">
                            <div class="fingerprint"></div>
                            <p>Pulgar Derecho</p>
                        </div>
                        <div class="form-child-up-col3">
                            <img class="fingerprint-img" src="./assets/images/huella_digital.png" alt="">
                        </div>
                    </div>
                    <div class="form-child-down">
                        <div class="btn_continuar">
                            <a class="btn_blue" (click)="back()">&nbsp;Regresar a inicio&nbsp;</a>
                            <a class="btn_blue" (click)="leerHuella()" id="btn_capture_sign">{{texto_boton}}</a>
                            <button [ngClass]="{'btn_blue':estado_blue,'btn_gray':estado_gray}" (click)="cancelar()" [disabled]="btn_guardar_active">&nbsp;Guardar&nbsp;</button>
                        </div>
                    </div>
                    <!-- <div>
                        <img [src]="img_huella_jpg" width="250px" class="fingerprint" >
                    </div>
                    <div>
                        <button (click)="test()" >Test</button>
                    </div> -->
                </div>


            </div>


        </div>
    </div>

</body>

</html>