
<div class="container-fluid">
	<div class="row ">
    <input type="text" id="estado">
		<div class="col-md-2 text_icon">
            <img class="body-options-img" (click)="datos_personales()" id="img_personal_information" src="./assets/images/datos_personales.svg" alt="">
            <p >Datos Personales</p>
            <div class="line"></div>
		</div>
		<div class="col-md-2 text_icon">
            <img class="body-options-img" (click)="datos_fisicos()" id="img_physic_information" src="./assets/images/datos_fisicos.svg" alt="">
            <p>Datos Fisicos</p>
            <div class="line"></div>
		</div>
		<div class="col-md-2 text_icon">
            <img class="body-options-img" (click)="datos_demograficos()" id="img_demographic_information" src="./assets/images/datos_demograficos.svg" alt="">
            <p>Datos Demograficos</p>
            <div class="line"></div>
		</div>
		<div class="col-md-2 text_icon">
            <img class="body-options-img" (click)="fotografia()" id="img_photography" src="./assets/images/datos_foto.svg" alt="">
            <p>Fotografia</p>
            <div class="line"></div>
		</div>
		<div class="col-md-2 text_icon">
            <img class="body-options-img" (click)="firma()" id="img_sign" src="./assets/images/datos_firma.svg" alt="">
            <p>Firma</p>
            <div class="line"></div>
		</div>
		<div class="col-md-2 text_icon">
            <img class="body-options-img" (click)="huella()" id="img_fingerprint" src="./assets/images/datos_huella.svg" alt="">
            <p>Huella Digital</p>
		</div>
	</div>
</div>


