<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enrolamiento</title>
  </head>

  <body class="body">
    <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 form-horizontal">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 content">
        <div class="logo">
          <img src="./assets/images/logo-sertracen.png" alt="" />
        </div>

        <div class="form_login" style="margin-top: -32px">
          <form [formGroup]="form!" (ngSubmit)="onSubmit()">
            <div>
              <div class="form-group float-left">
                <div class="col">
                  <h1 class="titulo">Enrolamiento</h1>
                </div>
              </div>

              <div class="form-group">
                <div class="col">
                  <p class="subtitulo">
                    ¡Bienvenido! Puedes completar tu informacion de enrolamiento
                    ingresando con tu cuenta.
                  </p>
                </div>
              </div>
              <br />

              <div class="form-group">
                <label class="col-md-12 control-label label"
                  >Nombre de usuario*</label
                >
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <input
                    type="text"
                    class="col-sm-12 form-control input"
                    formControlName="usuario"
                    tabindex="1"
                    [ngClass]="{
                      'is-invalid': submitted && f['usuario'].errors
                    }"
                    id="nit"
                    placeholder=""
                  />

                  <div
                    *ngIf="submitted && f['usuario'].errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f['usuario'].errors?.['required']">
                      Complete este campo
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 div_pass">
                  <a class="forgot_user" (click)="recuperaPass()"
                    >¿Olvidaste tu usuario?</a
                  >
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-12 control-label label">Contraseña*</label>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <input
                    type="password"
                    class="form-control input"
                    formControlName="password"
                    tabindex="2"
                    [ngClass]="{
                      'is-invalid': submitted && f['password'].errors
                    }"
                    id="pass"
                  />
                  <div
                    *ngIf="submitted && f['password'].errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f['password'].errors?.['required']">
                      Complete este campo
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 div_pass">
                  <a class="forgot_pass" (click)="recuperaPass()"
                    >¿Olvidaste tu contraseña?</a
                  >
                </div>
              </div>
              <div class="form-group d-grid gap-2">
                <br />
                <button type="submit" class="btn btn-primary btn_ingresar">
                  Ingresar
                </button>
              </div>
              <div class="form-group">&nbsp;</div>

              <div class="form-group">
                <a
                  class="btn btn-outline-primary btn_crear"
                  routerLink="/registro"
                  >Crear cuenta</a
                >
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
    </div>
    <!--

    <main>
        <header>Header</header>
        <aside>Izquierda</aside>
        <article>

          <div class="box_form">
            <section class="grid-content">
              <div class="logo">
                <img src="./assets/images/logo-sertracen.png" alt="">
            </div>
    
              <div class="form_login">
                <form [formGroup]="form!" (ngSubmit)="onSubmit()" >
                  <div >
                    <div class="form-row">
                      <div class="col">
                        <h1 class="titulo">Enrolamiento</h1>
                      </div>
                    </div>
            
                    <div class="form-row">
                      <div class="col">
                        <h3 class="subtitulo">¡Bienvenido! Puedes completar tu informacion de enrolamiento ingresando con tu cuenta.</h3>
                      </div>
                    </div>
                    <br>
                  </div>
            
                  <div class="form-row">
                    <div class="col">
                      <input type="text" class="form-control input" formControlName="usuario" [ngClass]="{'is-invalid': submitted && f['usuario'].errors}" id="nit" placeholder="Usuario" />
                      <div *ngIf="submitted && f['usuario'].errors" class="invalid-feedback">
                        <div *ngIf="f['usuario'].errors?.['required']">Complete este campo</div>
                      </div>
                    </div>
                    <a class="forgot_user" (click)="recuperaPass()">¿Olvidaste tu usuario?</a>
                  </div>
                  <br>
                
                  <div class="form-row">
                    <div class="col">
                      <input type="password" class="form-control input" formControlName="password" [ngClass]="{'is-invalid': submitted && f['password'].errors}" id="pass" placeholder="Contraseña" />
                      <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                        <div *ngIf="f['password'].errors?.['required']">Complete este campo</div>
                      </div>                    
                    </div>
                    <a class="forgot_pass" (click)="recuperaPass()">¿Olvidaste tu contraseña?</a>
                  </div>
            
                  <br>
                
            
                  <div class="form-row">
                    <div class="col text-center">          
                      
                      <button type="submit" class="btn_ingresar">Ingresar</button>
                      <br>
                      <a  class="btn_crear" routerLink="/registro">Crear cuenta</a>
                    </div>
                  </div>
                </form>
              </div>
            </section>
          </div>








        </article>
    </main>
-->
  </body>
</html>
