<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Enrolamiento
  </title>

</head>

<body>
  <app-header></app-header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-12">&nbsp;
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <app-options></app-options>
              </div>
            </div>





            <div class="row">
              <div class="col-md-1">
              </div>
              <div class="col-md-10">


                <div class="row">
                  <div class="col-md-12">
                    <h1>Deja aquí tu firma </h1>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h3>Debe escribir su firma en el cuadro gris, al igual que en su documento de identificación único.
                    </h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 div_sing">

                    <div class="main-rigth-body-form">
                      <div class="form-child-up">
                        <div id="div_canva" class="photo-box" style="align-items: center;">
                          <canvas id="canva"  #canvas (touchstart)="startDrawing($event)" (touchmove)="moved($event)"></canvas>
                        </div>
                        <div id="div_sign" class="div_sign" style="align-items: center;">
                          <img [src]="sign" />
                        </div>
                        <div class="form-child-up-col2">

                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 d-flex justify-content-center">

                    <button type="submit" (click)="back()" class="btn btn-outline-primary">&nbsp;Regresar a inicio&nbsp;</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-outline-primary" (click)="clearPad()">&nbsp;Limpiar firma&nbsp;</a>

                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="submit" id="btn_guardar" class="btn btn-primary" (click)="savePad()">&nbsp;Guardar&nbsp;</button>
                    <button type="button" id="btn_next" class="btn btn-primary" (click)="link_print()">&nbsp;Siguiente&nbsp;</button>
                  </div>
                </div>




              </div>
              <div class="col-md-1">
              </div>
            </div>
          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-12">&nbsp;</div>
        </div>


      </div>
    </div>
  </div>

</body>

</html>
