<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Enrolamiento
    </title>

  </head>

  <body>
    <app-header></app-header>


    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
          <form [formGroup]="form!" >
            <div class="row">
              <div class="col-md-12">&nbsp;
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="container-fluid">
                  <div class="row ">
                    <div class="col-md-2 text_icon">
                            <img class="body-options-img" (click)="datos_personales()"  id="img_personal_information" src="./assets/images/datos_personales_blue.svg" alt="">
                            <p >Datos Personales</p>
                            <div class="line"></div>
                    </div>
                    <div class="col-md-2 text_icon">
                            <img class="body-options-img" (click)="datos_fisicos()" id="img_physic_information" src="./assets/images/datos_fisicos.svg" alt="">
                            <p>Datos Fisicos</p>
                            <div class="line"></div>
                    </div>
                    <div class="col-md-2 text_icon">
                            <img class="body-options-img" (click)="datos_demograficos()"  id="img_demographic_information" src="./assets/images/datos_demograficos.svg" alt="">
                            <p>Datos Demograficos</p>
                            <div class="line"></div>
                    </div>
                    <div class="col-md-2 text_icon">
                            <img class="body-options-img" (click)="fotografia()" id="img_photography" src="./assets/images/datos_foto.svg" alt="">
                            <p>Fotografia</p>
                            <div class="line"></div>
                    </div>
                    <div class="col-md-2 text_icon">
                            <img class="body-options-img" (click)="firma()" id="img_sign" src="./assets/images/datos_firma.svg" alt="">
                            <p>Firma</p>
                            <div class="line"></div>
                    </div>
                    <div class="col-md-2 text_icon">
                            <img class="body-options-img" (click)="huella()" id="img_fingerprint" src="./assets/images/datos_huella.svg" alt="">
                            <p>Huella Digital</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">&nbsp;
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h1>Datos personales </h1>
              </div>
            </div>
            <div class="row">

              <div class="col-md-6">

                <div class="form-group">
                  <label class="col-md-12 control-label">Según CIP • Nombre</label>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="text" formControlName="txt_nombre" id="txt_nombre"
                      class="form-control" [(ngModel)]="nombre" [value]="nombre"
                      tabindex="1" />


                      <div *ngIf="f['txt_nombre'].touched && f['txt_nombre'].invalid" class="alert alert-danger">
                        <div *ngIf="f['txt_nombre'].errors && f['txt_nombre'].errors['required']">Complete este campo</div>
                    </div>

                  </div>
                  <div class="col-md-12">&nbsp;</div>
                </div>


                <div class="form-group">
                  <label class="col-md-12 control-label">Según CIP • Apellido
                    materno</label>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="text" formControlName="txt_ape_materno" id="txt_ape_materno"
                      [(ngModel)]="ape_materno" class="form-control"
                      value="{{ape_materno}}"
                      tabindex="3" />
                      <div *ngIf="f['txt_ape_materno'].touched && f['txt_ape_materno'].invalid" class="alert alert-danger">
                        <div *ngIf="f['txt_ape_materno'].errors && f['txt_ape_materno'].errors['required']">Complete este campo</div>
                    </div>

                  </div>
                  <div class="col-md-12">&nbsp;</div>
                </div>




                <div class="form-group">
                  <label class="col-md-12 control-label">Número de CIP</label>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="text" class="form-control"
                      formControlName="txt_dui" value="{{dui}}" id="txt_dui"
                      [(ngModel)]="dui" tabindex="5" />
                      <div *ngIf="f['txt_dui'].touched && f['txt_dui'].invalid" class="alert alert-danger">
                        <div *ngIf="f['txt_dui'].errors && f['txt_dui'].errors['required']">Complete este campo</div>
                    </div>

                  </div>
                  <div class="col-md-12">&nbsp;</div>
                </div>

                <div class="form-group">
                  <label class="col-md-12 control-label">Ocupación</label>
                  <div class="col-md-12 col-sm-12 col-xs-12">



                    <p-dropdown formControlName="cbo_ocupacion" id="cbo_ocupacion" [options]="ocupaciones" optionValue="id" optionLabel="ocu_descripcion" [filter]="true" filterBy="ocu_descripcion"
                    [(ngModel)]="ocupacion" [style]="{ width: '100%' }"></p-dropdown>

                    <div *ngIf="f['cbo_ocupacion'].touched && f['cbo_ocupacion'].invalid" class="alert alert-danger">
                      <div *ngIf="f['cbo_ocupacion'].errors && f['cbo_ocupacion'].errors['required']">Complete este campo</div>
                  </div>

                  </div>
                  <div class="col-md-12">&nbsp;</div>
                </div>


                <div class="form-group">
                  <label class="col-md-12 control-label">Correo electrónico</label>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="email" class="form-control"
                      formControlName="txt_email" value="{{email}}" id="txt_email"
                      [(ngModel)]="email" tabindex="9"
                      />
                      <div *ngIf="f['txt_email'].touched && f['txt_email'].invalid" class="alert alert-danger">
                        <div *ngIf="f['txt_email'].errors && f['txt_email'].errors['required']">Complete este campo</div>
                    </div>
                  </div>
                  <div class="col-md-12">&nbsp;</div>
                </div>

                <div class="form-group">
                  <label class="col-md-12 control-label">Género</label>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <select formControlName="cbo_genero" [(ngModel)]="genero" id="cbo_genero"
                      tabindex="11">
                      <option value="">Seleccione Genero</option>
                      <option value="{{item.id}}" *ngFor="let item of generos"
                        [selected]="genero == item.id">{{item.gen_descripcion}}</option>
                    </select>

                    <div *ngIf="f['cbo_genero'].touched && f['cbo_genero'].invalid" class="alert alert-danger">
                      <div *ngIf="f['cbo_genero'].errors && f['cbo_genero'].errors['required']">Complete este campo</div>
                  </div>
                  </div>
                  <div class="col-md-12">&nbsp;</div>
                </div>


              </div>
              <div class="col-md-6">

                <div class="form-group">
                  <label class="col-md-12 control-label">Según CIP • Apellido
                    paterno</label>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="text" class="form-control input" id="txt_ape_paterno"
                      formControlName="txt_ape_paterno" value="{{ape_paterno}}"
                      [(ngModel)]="ape_paterno"
                      tabindex="2" />

                      <div *ngIf="f['txt_ape_paterno'].touched && f['txt_ape_paterno'].invalid" class="alert alert-danger">
                        <div *ngIf="f['txt_ape_paterno'].errors && f['txt_ape_paterno'].errors['required']">Complete este campo</div>
                    </div>
                  </div>
                  <div class="col-md-12">&nbsp;</div>
                </div>



                <div class="form-group">
                  <label class="col-md-12 control-label">Según CIP • Apellido
                    casado/a</label>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="text" class="form-control"
                      formControlName="txt_ape_casada" value="{{ape_casada}}" id="txt_ape_casada"
                      [(ngModel)]="ape_casada"
                      tabindex="4" />


                  </div>
                  <div class="col-md-12">&nbsp;</div>
                </div>

                <div class="form-group">
                  <label class="col-md-12 control-label">Fecha de emisión de CIP</label>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="date" class="form-control"
                      formControlName="txt_fecha_emision_dui" id="txt_fecha_emision_dui"
                      value="{{fecha_emision_dui}}"
                      [(ngModel)]="fecha_emision_dui" tabindex="6" />
                      <div *ngIf="f['txt_fecha_emision_dui'].touched && f['txt_fecha_emision_dui'].invalid" class="alert alert-danger">
                        <div *ngIf="f['txt_fecha_emision_dui'].errors && f['txt_fecha_emision_dui'].errors['required']">Complete este campo</div>
                    </div>


                  </div>
                  <div class="col-md-12">&nbsp;</div>
                </div>



                <div class="form-group">
                  <label class="col-md-12 control-label">Fecha de vencimiento de
                    CIP</label>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="date" formControlName="txt_fecha_vto_dui" id="txt_fecha_vto_dui"
                      value="{{fecha_vto_dui}}" [(ngModel)]="fecha_vto_dui"
                      class="form-control input"  tabindex="8" />

                      <div *ngIf="f['txt_fecha_vto_dui'].touched && f['txt_fecha_vto_dui'].invalid" class="alert alert-danger">
                        <div *ngIf="f['txt_fecha_vto_dui'].errors && f['txt_fecha_vto_dui'].errors['required']">Complete este campo</div>
                    </div>
                  </div>


                  <div class="col-md-12">&nbsp;</div>
                </div>

                <div class="form-group">
                  <label class="col-md-12 control-label">Estado civil </label>
                  <div class="col-md-12 col-sm-12 col-xs-12">

                    <select class="form-control select"
                      formControlName="cbo_estado_civil" id="cbo_estado_civil"
                      [(ngModel)]="estado_civil" tabindex="10">
                      <option value="">Seleccione Estado Civil</option>
                      <option value="{{item.id}}" *ngFor="let item of
                        estados_civil" [selected]="estado_civil == item.id">{{item.est_descripcion}}</option>
                    </select>

                    <div *ngIf="f['cbo_estado_civil'].touched && f['cbo_estado_civil'].invalid" class="alert alert-danger">
                      <div *ngIf="f['cbo_estado_civil'].errors && f['cbo_estado_civil'].errors['required']">Complete este campo</div>
                  </div>

                  </div>
                  <div class="col-md-12">&nbsp;</div>
                </div>

                <div class="form-group">
                  <label class="col-md-12 control-label">Teléfono celular</label>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="text" class="form-control"
                      formControlName="txt_telefono_celular" id="txt_telefono_celular"
                      value="{{telefono_celular}}"
                      [(ngModel)]="telefono_celular" tabindex="12" />
                      <div *ngIf="f['txt_telefono_celular'].touched && f['txt_telefono_celular'].invalid" class="alert alert-danger">
                        <div *ngIf="f['txt_telefono_celular'].errors && f['txt_telefono_celular'].errors['required']">Complete este campo</div>
                    </div>


                  </div>
                  <div class="col-md-12">&nbsp;</div>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 d-flex justify-content-center">
                <button (click)="back()" type="button" class="btn
                  btn-outline-primary">&nbsp;Regresar a inicio&nbsp;</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" id="btn_guardar" tabindex="13" (click)="guardar()" class="btn
                  btn-primary">&nbsp;Guardar&nbsp;</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-1">
        </div>
        <div class="row">
          <div class="col-md-12">&nbsp;</div>
        </div>
      </div>
    </div>




  </body>

</html>
