<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Enrolamiento
    </title>

</head>

<body>
    <app-header></app-header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
              <form [formGroup]="form!" (ngSubmit)="guardar()">
                <div class="row">
                    <div class="row">
                        <div class="col-md-12">&nbsp;
                        </div>
                    </div>
                    <div class="col-md-12">
                        <app-options></app-options>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>Datos físicos</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label">Anteojos</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <select  formControlName="cbo_anteojos" [(ngModel)]="anteojos" tabindex="1">
                                          <option value="{{item}}" *ngFor="let item of opciones" [selected]="anteojos == item">{{item}}</option>
                                        </select>

                                    </div>
                                    <div class="col-md-12">&nbsp;</div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12 control-label">Piel</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <select class="form-control select"  formControlName="cbo_colores_pieles" [(ngModel)]="colores_pieles" tabindex="3">
                                            <option value="">Seleccione color de piel</option>
                                            <option value="{{item.id}}" *ngFor="let item of colores_piel" [selected]="colores_pieles == item.id">
                                              {{item.cpi_descripcion}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">&nbsp;</div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-12 control-label">Boca</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <select class="form-control select" formControlName="cbo_tipos_bocas" [(ngModel)]="tipos_bocas" tabindex="5">
                                            <option value="">Seleccione tipo de boca</option>
                                            <option value="{{item.id}}" *ngFor="let item of  tipos_boca" [selected]="tipos_bocas == item.id">{{item.tbo_descripcion}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">&nbsp;</div>
                                </div>


                                <div class="form-group">
                                    <label class="col-md-12 control-label">Peso en libras</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="number" formControlName="txt_peso_libras"  [(ngModel)]="peso_lb" step="0.01" min="1" value="{{peso_lb}}" name="txt_peso_libras" tabindex="7"
                                            id="txt_peso_libras" class="form-control"
                                            [ngClass]="{'is-invalid': submitted && f['txt_peso_libras'].errors}" />
                                        <div *ngIf="submitted && f['txt_peso_libras'].errors" class="invalid-feedback">
                                            <div *ngIf="f['txt_peso_libras'].errors?.['required']">Complete este campo
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">&nbsp;</div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-12 control-label">Lentes de contactos</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <select class="form-control select" formControlName="cbo_lentes_contacto" [(ngModel)]="lentes_contacto" tabindex="9">
                                              <option value="{{item}}" *ngFor="let item of opciones" [selected]="lentes_contacto == item">{{item}}</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-md-12">&nbsp;</div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-12 control-label">Ojos</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <select class="form-control select" formControlName="cbo_colores_ojos" [(ngModel)]="colores_ojos" tabindex="11">
                                            <option value="">Seleccione colores de ojos</option>
                                            <option value="{{item.id}}" *ngFor="let item of colores_ojo" [selected]="colores_ojos == item.id">{{item.coj_descripcion}}</option>

                                        </select>
                                    </div>
                                    <div class="col-md-12">&nbsp;</div>
                                </div>

                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="col-md-12 control-label">Nariz</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <select class="form-control select" formControlName="cbo_tipos_narices" [(ngModel)]="tipos_narices" tabindex="2">
                                            <option value="">Seleccione Nariz</option>
                                            <option value="{{item.id}}" *ngFor="let item of
                                            tipos_nariz" [selected]="tipos_narices == item.id">{{item.tna_descripcion}}</option>

                                        </select>
                                    </div>
                                    <div class="col-md-12">&nbsp;</div>
                                </div>


                                <div class="form-group">
                                    <label class="col-md-12 control-label">Señales especiales</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <select class="form-control select" formControlName="cbo_senales_especiales" [(ngModel)]="senales_especiales" tabindex="4">
                                          <option value="{{item}}" *ngFor="let item of opciones" [selected]="senales_especiales == item">{{item}}</option>
                                        </select>

                                    </div>
                                    <div class="col-md-12">&nbsp;</div>
                                </div>


                                <div class="form-group">
                                    <label class="col-md-12 control-label">Audífono</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                      <select class="form-control select" formControlName="txt_audifonos" [(ngModel)]="audifonos" tabindex="6">
                                        <option value="{{item}}" *ngFor="let item of opciones" [selected]="audifonos == item">{{item}}</option>
                                      </select>


                                    </div>
                                    <div class="col-md-12">&nbsp;</div>
                                </div>


                                <div class="form-group">
                                    <label class="col-md-12 control-label">Cabello</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <select class="form-control select" formControlName="cbo_colores_cabellos" [(ngModel)]="colores_cabellos" tabindex="8">
                                            <option value="">Seleccione colores de cabello</option>
                                            <option value="{{item.id}}" *ngFor="let item of colores_cabello" [selected]="colores_cabellos == item.id">{{item.cca_descripcion}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">&nbsp;</div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-12 control-label">Estatura</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="number" formControlName="txt_estatura" [(ngModel)]="estatura" step="0.01" min="0.1" value="{{estatura}}" name="txt_estatura" id="txt_estatura" tabindex="10"
                                            class="form-control input"
                                            [ngClass]="{'is-invalid': submitted && f['txt_estatura'].errors}" />
                                        <div *ngIf="submitted && f['txt_estatura'].errors" class="invalid-feedback">
                                            <div *ngIf="f['txt_estatura'].errors?.['required']">Complete este campo
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12">&nbsp;</div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-12 control-label">Tipo de sangre</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <select class="form-control select" formControlName="cbo_tipo_sangre" [(ngModel)]="tipo_sangre" tabindex="12">
                                          <option value="{{item}}" *ngFor="let item of tipos_sangre" [selected]="tipo_sangre == item">{{item}}</option>
                                           <!-- <option value="">Seleccione tipo de sangre</option>
                                            <option value="A +">A RH +</option>
                                            <option value="A -">A RH -</option>
                                            <option value="B +">B RH +</option>
                                            <option value="B -">B RH -</option>
                                            <option value="AB +">AB RH +</option>
                                            <option value="AB -">AB RH -</option>
                                            <option value="O +">O RH +</option>
                                            <option value="O -">O RH -</option>-->
                                        </select>

                                    </div>
                                    <div class="col-md-12">&nbsp;</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <button (click)="back()" type="button" class="btn btn-outline-primary">&nbsp;Regresar a inicio&nbsp;</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button (click)="guardar()" type="button" class="btn btn-primary">&nbsp;Guardar&nbsp;</button>

                    </div>
                </div>
              </form>
            </div>
            <div class="col-md-1">
            </div>
            <div class="row">
                <div class="col-md-12">&nbsp;</div>
            </div>
        </div>
    </div>

</body>

</html>
