<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Enrolamiento
    </title>

</head>

<body>
    <app-header></app-header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
              <form [formGroup]="form!" (ngSubmit)="guardar()">
                <div class="row">
                    <div class="row">
                        <div class="col-md-12">&nbsp;
                        </div>
                    </div>
                    <div class="col-md-12">
                        <app-options></app-options>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>Datos físicos</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="col-md-12 control-label">Anteojos</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <select class="form-control select" formControlName="cbo_anteojos" tabindex="1">
                                            <option value="SI">SI</option>
                                            <option value="NO">NO</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">&nbsp;</div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-12 control-label">Piel</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">

                                      <select formControlName="cbo_colores_pieles" tabindex="4">
                                        <option value="">Seleccione color de piel</option>
                                        <option *ngFor="let item of color_piel" value="{{item.ID}}"
                                          [selected]="colores_pieles == item.ID">
                                          {{item.CPI_DESCRIPCION}}
                                        </option>
                                      </select>


                                    </div>
                                    <div class="col-md-12">&nbsp;</div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-12 control-label">Boca</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <select class="form-control select" formControlName="cbo_tipos_bocas" tabindex="5">
                                            <option value="">Seleccione tipo de boca</option>
                                            <option value="1">CHICA</option>
                                            <option value="2">REGULAR</option>
                                            <option value="3">GRANDE</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">&nbsp;</div>
                                </div>


                                <div class="form-group">
                                    <label class="col-md-12 control-label">Peso en libras</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="number" step="0.01" min="1" value="{{peso_lb}}" name="txt_peso_libras" tabindex="7"
                                            id="txt_peso_libras" class="form-control" formControlName="txt_peso_libras"
                                            [ngClass]="{'is-invalid': submitted && f['txt_peso_libras'].errors}" />
                                        <div *ngIf="submitted && f['txt_peso_libras'].errors" class="invalid-feedback">
                                            <div *ngIf="f['txt_peso_libras'].errors?.['required']">Complete este campo
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">&nbsp;</div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-12 control-label">Lentes de contactos</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <select class="form-control select" formControlName="cbo_lentes_contacto" tabindex="9">
                                                <option value="SI">SI</option>
                                                <option value="NO">NO</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-md-12">&nbsp;</div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-12 control-label">Ojos</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <select class="form-control select" formControlName="cbo_colores_ojos" tabindex="11">
                                            <option value="">Seleccione colores de ojos</option>
                                            <option value="1">AZULES</option>
                                            <option value="2">VERDES</option>
                                            <option value="3">PARDOS</option>
                                            <option value="4">NEGROS</option>
                                            <option value="5">CAFE</option>

                                        </select>
                                    </div>
                                    <div class="col-md-12">&nbsp;</div>
                                </div>

                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="col-md-12 control-label">Nariz</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <select class="form-control select" formControlName="cbo_tipos_narices" tabindex="2">
                                            <option value="">Seleccione Nariz</option>
                                            <option value="1">REGULAR</option>
                                            <option value="2">GRANDE</option>
                                            <option value="3">CHICA</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">&nbsp;</div>
                                </div>


                                <div class="form-group">
                                    <label class="col-md-12 control-label">Señales especiales</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <select class="form-control select" formControlName="cbo_senales_especiales" tabindex="4">
                                            <option value="SI">SI</option>
                                            <option value="NO">NO</option>
                                        </select>

                                    </div>
                                    <div class="col-md-12">&nbsp;</div>
                                </div>


                                <div class="form-group">
                                    <label class="col-md-12 control-label">Audífono</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" name="txt_audifonos" id="txt_audifonos" tabindex="6"
                                            class="form-control input" formControlName="txt_audifonos"
                                            [ngClass]="{'is-invalid': submitted && f['txt_audifonos'].errors}" />
                                        <div *ngIf="submitted && f['txt_audifonos'].errors" class="invalid-feedback">
                                            <div *ngIf="f['txt_audifonos'].errors?.['required']">Complete este campo
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12">&nbsp;</div>
                                </div>


                                <div class="form-group">
                                    <label class="col-md-12 control-label">Cabello</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <select class="form-control select" formControlName="cbo_colores_cabellos" tabindex="8">
                                            <option value="">Seleccione colores de cabello</option>
                                            <option value="1">CASTAÑO</option>
                                            <option value="2">NEGRO</option>
                                            <option value="3">RUBIO</option>
                                            <option value="4">CANO</option>
                                            <option value="5">PELIRROJO</option>
                                            <option value="6">CALVO</option>
                                            <option value="7">ENTRECANO</option>
                                            <option value="8">ROJO</option>
                                            <option value="9">BLANCO</option>

                                        </select>
                                    </div>
                                    <div class="col-md-12">&nbsp;</div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-12 control-label">Estatura</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="number" step="0.01" min="0.1" name="txt_estatura" id="txt_estatura" tabindex="10"
                                            class="form-control input" formControlName="txt_estatura"
                                            [ngClass]="{'is-invalid': submitted && f['txt_estatura'].errors}" />
                                        <div *ngIf="submitted && f['txt_estatura'].errors" class="invalid-feedback">
                                            <div *ngIf="f['txt_estatura'].errors?.['required']">Complete este campo
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12">&nbsp;</div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-12 control-label">Tipo de sangre</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <select class="form-control select" formControlName="cbo_tipo_sangre" tabindex="12">
                                            <option value="">Seleccione tipo de sangre</option>
                                            <option value="A +">A RH +</option>
                                            <option value="A -">A RH -</option>
                                            <option value="B +">B RH +</option>
                                            <option value="B -">B RH -</option>
                                            <option value="AB +">AB RH +</option>
                                            <option value="AB -">AB RH -</option>
                                            <option value="O +">O RH +</option>
                                            <option value="O -">O RH -</option>
                                        </select>

                                    </div>
                                    <div class="col-md-12">&nbsp;</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <button (click)="back()" type="button" class="btn btn-outline-primary">&nbsp;Regresar a inicio&nbsp;</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button (click)="guardar()" type="button" class="btn btn-primary">&nbsp;Guardar&nbsp;</button>

                    </div>
                </div>
              </form>
            </div>
            <div class="col-md-1">
            </div>
            <div class="row">
                <div class="col-md-12">&nbsp;</div>
            </div>
        </div>
    </div>

</body>

</html>
