<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Enrolamiento
    </title>

  </head>

  <body>
    <app-header></app-header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
          <form [formGroup]="form!" (ngSubmit)="guardar()">
            <div class="row">
              <div class="col-md-12">&nbsp;
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="container-fluid">
                  <div class="row ">
                    <div class="col-md-2 text_icon">
                            <img class="body-options-img" (click)="datos_personales()" id="img_personal_information" src="./assets/images/datos_personales_blue.svg" alt="">
                            <p >Datos Personales</p>
                            <div class="line"></div>
                    </div>
                    <div class="col-md-2 text_icon">
                            <img class="body-options-img" (click)="datos_fisicos()" id="img_physic_information" src="./assets/images/datos_fisicos_blue.svg" alt="">
                            <p>Datos Fisicos</p>
                            <div class="line"></div>
                    </div>
                    <div class="col-md-2 text_icon">
                            <img class="body-options-img" (click)="datos_demograficos()" id="img_demographic_information" src="./assets/images/datos_demograficos_blue.svg" alt="">
                            <p>Datos Demograficos</p>
                            <div class="line"></div>
                    </div>
                    <div class="col-md-2 text_icon">
                            <img class="body-options-img" (click)="fotografia()" id="img_photography" src="./assets/images/datos_foto.svg" alt="">
                            <p>Fotografia</p>
                            <div class="line"></div>
                    </div>
                    <div class="col-md-2 text_icon">
                            <img class="body-options-img" (click)="firma()" id="img_sign" src="./assets/images/datos_firma.svg" alt="">
                            <p>Firma</p>
                            <div class="line"></div>
                    </div>
                    <div class="col-md-2 text_icon">
                            <img class="body-options-img" (click)="huella()" id="img_fingerprint" src="./assets/images/datos_huella.svg" alt="">
                            <p>Huella Digital</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">&nbsp;
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h1>Datos demograficos </h1>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-md-12 control-label">Domicilio </label>
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <input type="text" class="form-control"
                          formControlName="txt_domicilio" id="txt_domicilio"
                          [(ngModel)]="domicilio" value="{{domicilio}}"
                          tabindex="1" />
                        <div *ngIf="f['txt_domicilio'].touched &&
                          f['txt_domicilio'].invalid" class="alert
                          alert-danger">
                          <div *ngIf="f['txt_domicilio'].errors &&
                            f['txt_domicilio'].errors['required']">Complete este
                            campo</div>
                        </div>

                      </div>


                      <div class="col-md-12">&nbsp;</div>
                    </div>


                    <div class="form-group">
                      <label class="col-md-12 control-label">Lugar de nacimiento
                      </label>
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <input type="text" class="form-control"
                          formControlName="txt_lugar_nacimiento" id="txt_lugar_nacimiento"
                          [(ngModel)]="lugar_nacimiento"
                          value="{{lugar_nacimiento}}" tabindex="3" />
                        <div *ngIf="f['txt_lugar_nacimiento'].touched &&
                          f['txt_lugar_nacimiento'].invalid" class="alert
                          alert-danger">
                          <div *ngIf="f['txt_lugar_nacimiento'].errors &&
                            f['txt_lugar_nacimiento'].errors['required']">Complete
                            este campo</div>
                        </div>

                      </div>
                      <div class="col-md-12">&nbsp;</div>
                    </div>

                    <div class="form-group">
                      <label class="col-md-12 control-label">Fecha de nacimiento
                      </label>
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <input type="date" class="form-control"
                          formControlName="txt_fecha_nacimiento" id="txt_fecha_nacimiento"
                          [(ngModel)]="fecha_nacimiento"
                          value="{{fecha_nacimiento}}" tabindex="5" />
                        <div *ngIf="f['txt_fecha_nacimiento'].touched &&
                          f['txt_fecha_nacimiento'].invalid" class="alert
                          alert-danger">
                          <div *ngIf="f['txt_fecha_nacimiento'].errors &&
                            f['txt_fecha_nacimiento'].errors['required']">Complete
                            este campo</div>
                        </div>

                      </div>
                      <div class="col-md-12">&nbsp;</div>
                    </div>


                  </div>
                  <div class="col-md-6">

                    <div class="form-group">
                      <label class="col-md-12 control-label">Pais de nacimiento</label>
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <p-dropdown formControlName="cbo_pais_nacimiento" id="cbo_pais_nacimiento" (keyup.enter)="test()"
                        [options]="paises" optionValue="id" optionLabel="pai_descripcion" [filter]="true" filterBy="pai_descripcion"
                        [(ngModel)]="pais_nacimiento" [style]="{ width: '100%' }"  (onChange)='onChangePais($event)'></p-dropdown>


                        <!--<select class="form-control select"
                          formControlName="cbo_pais_nacimiento" id="cbo_pais_nacimiento"
                          [(ngModel)]="pais_nacimiento"
                          #cbo_pais_nacimiento tabindex="2"
                          (change)='onChangePais(cbo_pais_nacimiento.value)'>
                          <option value="">Seleccione Pais</option>
                          <option value="{{item.id}}" *ngFor="let item of
                            paises" [selected]="pais_nacimiento == item.id">{{item.pai_descripcion}}</option>
                        </select>-->
                        <div *ngIf="f['cbo_pais_nacimiento'].touched &&
                          f['cbo_pais_nacimiento'].invalid" class="alert
                          alert-danger">
                          <div *ngIf="f['cbo_pais_nacimiento'].errors &&
                            f['cbo_pais_nacimiento'].errors['required']">Complete
                            este campo</div>
                        </div>

                      </div>
                      <div class="col-md-12">&nbsp;</div>
                    </div>

                    <div class="form-group">
                      <label class="col-md-12 control-label">Departamento
                      </label>
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <select class="form-control select"
                          formControlName="cbo_departamento" id="cbo_departamento"
                          [(ngModel)]="departamento" #cbo_departamento
                          tabindex="4"
                          (change)='onChangeDepartamento(cbo_departamento.value)'>
                          <option value="">Seleccione Departamento</option>
                          <option value="{{item.id}}" *ngFor="let item of
                            departamentos" [selected]="departamento == item.id">
                            {{item.uge_descripcion}}
                          </option>
                        </select>
                        <div *ngIf="f['cbo_departamento'].touched &&
                          f['cbo_departamento'].invalid" class="alert
                          alert-danger">
                          <div *ngIf="f['cbo_departamento'].errors &&
                            f['cbo_departamento'].errors['required']">Complete
                            este campo</div>
                        </div>

                      </div>
                      <div class="col-md-12">&nbsp;</div>
                    </div>

                    <div class="form-group">
                      <label class="col-md-12 control-label">Municipio </label>
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <select class="form-control select"
                          formControlName="cbo_municipio" id="cbo_municipio"
                          [(ngModel)]="municipio" tabindex="6">
                          <option value="">Seleccione Municipio</option>
                          <option value="{{item.id}}" *ngFor="let item of
                            municipios" [selected]="municipio == item.id">
                            {{item.uge_descripcion}}</option>
                        </select>
                        <div *ngIf="f['cbo_municipio'].touched && f['cbo_municipio'].invalid" class="alert alert-danger">
                          <div *ngIf="f['cbo_municipio'].errors && f['cbo_municipio'].errors['required']">Complete este campo</div>
                      </div>

                      </div>
                      <div class="col-md-12">&nbsp;</div>
                    </div>



                  </div>

                  <div class="row">
                    <div class="col-md-12">
                    </div>
                  </div>


                  
                <div class="row">
                  <div class="col-md-12">
    
                    <form #sendForm="ngForm">
                      <div class="chat-send row">
                          <div class="col-2">
                              <input type="hidden" class="form-control" name="user" id="input-user" ngModel>
                          </div>
                          <div class="col-8">
                              <input type="hidden" class="form-control" name="message" id="input-message" ngModel>
                          </div>
                          <div class="col-2">
                              <input (click)="sendMessage()" type="hidden" class="form-control" name="btn_send" id="btn_send" >                          
                          </div>
                      </div>
                  </form>
    
                  </div>
                </div>
                


                  <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                      <button (click)="back()" type="button" class="btn
                        btn-outline-primary">&nbsp;Regresar a inicio&nbsp;</button>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      <button (click)="guardar()" id="btn_guardar" tabindex="7" type="button" class="btn
                        btn-primary">&nbsp;Guardar&nbsp;</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-1">
        </div>
      </div>

    </div>


  </body>

</html>
