<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Enrolamiento
    </title>

  </head>

  <body>
    <app-header></app-header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
          <form [formGroup]="form!" (ngSubmit)="guardar()">
            <div class="row">
              <div class="col-md-12">&nbsp;
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <app-options></app-options>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">&nbsp;
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h1>Datos demograficos </h1>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-md-12 control-label">Domicilio </label>

                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <input type="text" class="form-control"
                          formControlName="txt_domicilio"
                          [(ngModel)]="domicilio"
                           value="{{domicilio}}"
                          [ngClass]="{'is-invalid': submitted &&
                          f['txt_domicilio'].errors}" tabindex="1"
                          />
                        <div *ngIf="submitted &&
                          f['txt_domicilio'].errors"
                          class="invalid-feedback">
                          <div
                            *ngIf="f['txt_domicilio'].errors?.['required']">Complete
                            este campo</div>
                        </div>

                      </div>


                      <div class="col-md-12">&nbsp;</div>
                    </div>


                    <div class="form-group">
                      <label class="col-md-12 control-label">Lugar de nacimiento
                      </label>
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <input type="text" class="form-control"
                          formControlName="txt_lugar_nacimiento"  [(ngModel)]="lugar_nacimiento" value="{{lugar_nacimiento}}"
                          [ngClass]="{'is-invalid': submitted &&
                          f['txt_lugar_nacimiento'].errors}" tabindex="3"
                          />
                        <div *ngIf="submitted &&
                          f['txt_lugar_nacimiento'].errors"
                          class="invalid-feedback">
                          <div
                            *ngIf="f['txt_lugar_nacimiento'].errors?.['required']">Complete
                            este campo</div>
                        </div>

                      </div>
                      <div class="col-md-12">&nbsp;</div>
                    </div>

                    <div class="form-group">
                      <label class="col-md-12 control-label">Fecha de nacimiento
                      </label>
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <input type="date" class="form-control"
                          formControlName="txt_fecha_nacimiento" [(ngModel)]="fecha_nacimiento" value="{{fecha_nacimiento}}"
                          [ngClass]="{'is-invalid': submitted &&
                          f['txt_fecha_nacimiento'].errors}" tabindex="5" />
                        <div *ngIf="submitted &&
                          f['txt_fecha_nacimiento'].errors"
                          class="invalid-feedback">
                          <div
                            *ngIf="f['txt_fecha_nacimiento'].errors?.['required']">Complete
                            este campo</div>
                        </div>

                      </div>
                      <div class="col-md-12">&nbsp;</div>
                    </div>


                  </div>
                  <div class="col-md-6">

                    <div class="form-group">
                      <label class="col-md-12 control-label">Pais de nacimiento</label>
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <select class="form-control select"
                          formControlName="cbo_pais_nacimiento" [(ngModel)]="pais_nacimiento"
                          #cbo_pais_nacimiento tabindex="2"
                          (change)='onChangePais(cbo_pais_nacimiento.value)'>
                          <option value="">Seleccione Pais</option>
                          <option value="{{item.id}}" *ngFor="let item of paises"  [selected]="pais_nacimiento == item.id">{{item.pai_descripcion}}</option>
                        </select>
                        <div *ngIf="submitted &&
                          f['cbo_pais_nacimiento'].errors"
                          class="invalid-feedback">
                          <div
                            *ngIf="f['cbo_pais_nacimiento'].errors?.['required']">Complete
                            este
                            campo</div>
                        </div>

                      </div>
                      <div class="col-md-12">&nbsp;</div>
                    </div>

                    <div class="form-group">
                      <label class="col-md-12 control-label">Departamento
                      </label>
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <select class="form-control select"
                          formControlName="cbo_departamento" [(ngModel)]="departamento" #cbo_departamento
                          tabindex="4"
                          (change)='onChangeDepartamento(cbo_departamento.value)'>
                          <option value="">Seleccione Departamento</option>
                          <option value="{{item.id}}" *ngFor="let item of departamentos"  [selected]="departamento == item.id">
                             {{item.uge_descripcion}}
                          </option>
                        </select>
                        <div *ngIf="submitted && f['cbo_departamento'].errors"
                          class="invalid-feedback">
                          <div
                            *ngIf="f['cbo_departamento'].errors?.['required']">Complete
                            este
                            campo</div>
                        </div>

                      </div>
                      <div class="col-md-12">&nbsp;</div>
                    </div>

                    <div class="form-group">
                      <label class="col-md-12 control-label">Municipio </label>
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <select class="form-control select"
                          formControlName="cbo_municipio"  [(ngModel)]="municipio" tabindex="6">
                          <option value="">Seleccione Municipio</option>
                          <option value="{{item.id}}" *ngFor="let item of  municipios" [selected]="municipio == item.id">
                           {{item.uge_descripcion}}</option>
                        </select>


                      </div>
                      <div class="col-md-12">&nbsp;</div>
                    </div>



                  </div>

                  <div class="row">
                    <div class="col-md-12">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                      <button (click)="back()" type="button" class="btn
                        btn-outline-primary">&nbsp;Regresar a inicio&nbsp;</button>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      <button (click)="guardar()" type="button" class="btn
                        btn-primary">&nbsp;Guardar&nbsp;</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-1">
        </div>
      </div>

    </div>


  </body>

</html>
